.titulo-principal{
  color: gold;
  font-size: 70px;
  font-family: 'Silkscreen', cursive;
}
.subtitulo{
  color: goldenrod;
  font-size: 40px;
  font-family: 'Silkscreen', cursive;
}

.lista-de-ventajasingles{
  color: chocolate;
  font-size: 20px;
}
a{
  color: rgb(255, 51, 0);
  font-size: 15px;
  font-family: 'Silkscreen', cursive;
}
.informacion-pagina{
  color: red;
  font-size: 15px;
  font-family: 'Silkscreen', cursive;
}
.antetitulo{
  color: gray;
  font-size: 23px;
  font-family: 'Silkscreen', cursive;
}
.subtitulo-sobreimagen{
  color: rgb(255, 149, 0);
  font-size: 23px;
  font-family: 'Silkscreen', cursive;
}
img{
  text-align: center;
  width: 500  px;
  border-width: 5px;
  border-color: red;
  border-style: solid;
}
p{
  color: white;
}
.titulo-section{
  background-color: black;
}
.lista-section{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background: purple;
  border: 20px solid purple;
  width: 98%;
  background-color: black;
}

.item2{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background: purple;
  border: 20px solid purple;
  width: 98%;
  background-color: black;

}
.item3{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background: purple;
  border: 20px solid purple;
  width: 98%;
  background-color: black;

}
.item4{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background: purple;
  border: 20px solid purple;
  width: 98%;
  background-color: black;

}
.pronombres-section{
  background-color: black;
}
.verbotobe-section{
  background-color: black;
}
.presentesimple-section{
  background-color: black;
}
.contenedorPrincipal{
  display: flex;
  
  flex-direction: column;
  align-items: stretch;
  justify-content:space-evenly;

  border: 5px solid slateblue;
  padding: 10px;
  margin: 10px;
}